<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>


  function updateActiveDatatable()
  {
    console.log('Refreshing table data ');
    var activeDatatable = $( "div[aria-hidden='false'] .dataTable" );

    //Reload datatables data
    $(activeDatatable).DataTable().ajax.reload();

    // For troubleshooting :-)
    //$(activeDatatable).css({ opacity: 0.5 });
  }

  $( function() {
    $( "#tabs" ).tabs({
      beforeActivate: function (event, ui) {
          window.location.hash = ui.newPanel.selector;
      }
    } );


      // Initialize datatables
      $(".jenkins-monitor").each(function() {

        ajax_url = "job/" + $(this).data('job-name');
        $(this).DataTable( {
            "ajax": ajax_url,
            "aaSorting": [[0,'desc']],
            "sAjaxDataProp": "",
            "columns": [
                { "data": "id",
                  "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                      $(nTd).html("<a href='"+oData.url+"'>Build #"+sData+"</a>");
                  } },
                { "data": "duration",
                  "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                      $(nTd).html(sData.minutes + ":" + sData.seconds);
                  }} ,
                { "data": "result",
                  "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {

                    // Set the color of cell
                    if(sData == 'FAILURE')
                    {
                      $(nTd).css('backgroundColor', '#ff6666');
                    }
                    else if(sData == 'SUCCESS')
                    {
                    }
                    else {
                      // Default is no color
                    }
                  }}
            ]
        } );
      });

  // Start updating active datatable every 10 s
  setInterval( function () {
    updateActiveDatatable();
  }, 10000 );

  });
/*
    "building": false,
    "claim": null,
    "description": null,
    "duration": 695842,
    "id": "87",
    "result": "SUCCESS",
    "trigger": "Triggered by 1 message:\n    f97eba94-d33c-4bc5-a037-4816c351c935 (EiffelArtifactNewEvent)\n",
    "url": "http://vran-jenkins-master.rnd.ki.sw.ericsson.se:8080/jenkins/job/cran5g.main.infra.deployment-vm.test/87/"
*/
  </script>
</head>
<body>

<div id="tabs">


  <ul>
  {% for job in jobs %}
    <li><a href="#tabs-{{job.track}}">{{job.track}}</a></li>
  {% endfor %}
  </ul>

  {% for job in jobs %}
  <div id="tabs-{{job.track}}">
    <h1>{{job.job_name}}</h1>

      <table id="job-table-{{job.job_name}}" class="display jenkins-monitor" cellspacing="0" width="100%" data-job-name="{{job.job_name}}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Duration</th>
                <th>Result</th>
                <th>URL</th>
            </tr>
        </thead>
        </tfoot>
    </table>


  </div>
  {% endfor %}
</div>


</body>
</html>
