<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <script src="{{ url_for('static', filename='jenkonsul.js') }}"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>


  function updateActiveDatatable()
  {
    console.log('Refreshing table data ');
    var activeDatatable = $( "div[aria-hidden='false'] .dataTable" );

    //Reload datatables data
    $(activeDatatable).DataTable().ajax.reload();

    // For troubleshooting :-)
    //$(activeDatatable).css({ opacity: 0.5 });
  }

  $( function() {
    $( "#tabs" ).tabs({
      beforeActivate: function (event, ui) {
          window.location.hash = ui.newPanel.selector;
      }
    } );


      // Initialize datatables
      $(".jenkins-monitor").each(function() {

        ajax_url = "job/" + $(this).data('job-name');
        $(this).DataTable( {
            "ajax": ajax_url,
            "aaSorting": [[0,'desc']],
            "sAjaxDataProp": "",
            "pageLength": 50,
            "columns": [
                { "data": "id",
                  "fnCreatedCell": jenkonsul.buildNumberLink // Adds a hyperlink named Build#<BUILD NUMBER>
                },
                { "data": "duration",
                  "fnCreatedCell": jenkonsul.formatTime
                } ,
                { "data": "result",
                  "fnCreatedCell": jenkonsul.colorize
                },

                // Only works with the claim plugin
                { "data": "claim.claimedBy",
                  "fnCreatedCell": jenkonsul.claimLink,
                  "defaultContent": ""},

                // Only works with the Build Failure Analyzer
                // https://wiki.jenkins.io/display/JENKINS/Build+Failure+Analyzer
                { "data": "foundFailureCauses.name", "defaultContent": ""},

                { "data": "url",
                  "fnCreatedCell": jenkonsul.urlLink }, // Adds a hyperlink named URL }
            ]
        } );
      });

    // Start updating active datatable every 10 s
    setInterval( function () {
      updateActiveDatatable();
    }, 10000 );

  });

  </script>
</head>
<body>

<div id="tabs">


  <ul>
  {% for job in jobs %}
    <li><a href="#tabs-{{job.track}}">{{job.track}}</a></li>
  {% endfor %}
  </ul>

  {% for job in jobs %}
  <div id="tabs-{{job.track}}">
    <h1>{{job.job_name}}</h1>

      <table id="job-table-{{job.job_name}}" class="display jenkins-monitor" cellspacing="0" width="100%" data-job-name="{{job.job_name}}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Duration</th>
                <th>Result</th>
                <th>Claimed by</th>
                <th>Reason</th>
                <th>URL</th>
            </tr>
        </thead>
        </tfoot>
    </table>


  </div>
  {% endfor %}
</div>


</body>
</html>
